body {
	background-color: #0d253f;
	background-image: url("https://images.unsplash.com/photo-1539346842531-9265c5fd1467");
	background-size: cover;
	background-position: center;
	color: #fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
	font-size: 3em;
	text-align: center;
	margin-top: 1em;
}

#countdown {
	font-size: 5em;
	text-align: center;
	margin-top: 1em;
}

@media (max-width: 768px) {
	h1 {
		font-size: 2em;
	}
	
	#countdown {
		font-size: 4em;
	}
}
